@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,300,400");
.text-js {
  opacity: 0;
}

body {
  font-family: 'Khula', 'sans-serif';
  font-weight: 100;
}

p{
  margin: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight:100;
  /* margin-left:55px; */
}
.gilla{
  /* background-image: url("img/HeroBigBoi.png"); */
  /* opacity: 0.5; */
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; */
}

hr.style-two {
    border: 0;
    margin:10px;
    width:50%;
    margin-left:25%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


.header{
  /* background: linear-gradient(135deg, #00C4FF, #000000); */
  background: linear-gradient(135deg, rgba(0, 196, 255, 0.95), rgba(0, 0, 0, 0.95)), url(https://raw.githubusercontent.com/sivulka/AVA-Site-V1/master/img/HeroBigBoi.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.6px;
  font-weight: 100;
}

.section2{
  /* background: linear-gradient(135deg, #00C4FF, #000000); */
  background: linear-gradient(135deg, rgba(10, 10, 10, 0.95), rgba(0, 0, 0, 0.95)), url(https://raw.githubusercontent.com/sivulka/AVA-Site-V1/master/img/HeroBigBoi.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.6px;
  font-weight: 100;
}

.section3{
  /* background: linear-gradient(135deg, #00C4FF, #000000); */
  background: linear-gradient(0deg, rgba(0, 196, 255, 0.95), rgba(10, 10, 10, 0.95)), url(https://raw.githubusercontent.com/sivulka/AVA-Site-V1/master/img/HeroBigBoi.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.6px;
  font-weight: 100;
}

.section4{
  /* background: linear-gradient(135deg, #00C4FF, #000000); */
  background: linear-gradient(0deg, rgba(200, 200, 200, 0.80), rgba(0, 196, 255, 0.95)), url(https://raw.githubusercontent.com/sivulka/AVA-Site-V1/master/img/HeroBigBoi.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.6px;
  font-weight: 100;
}

.section5{
  /* background: linear-gradient(135deg, #00C4FF, #000000); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95), rgba(10, 10, 10, 0.95)), url(https://raw.githubusercontent.com/sivulka/AVA-Site-V1/master/img/HeroBigBoi.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.6px;
  font-weight: 100;
  width:100%;
}

.column {
    float: left;
    width: 30%;
    height: 60%; /* Should be removed. Only for demonstration */
}
.column-sm {
    float: left;
    width: 10%;
    height: 60%; /* Should be removed. Only for demonstration */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.text_section{
  width:100%;
  margin-left:0%;
}


.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  boz-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.headline {
  margin: 20px;
  color: white;
  font-size: 32px;
  text-align: center;
}
.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 300;
}

.credit {
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-decoration: none;
}





.arrow-container {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: 24%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
}
.arrow-container:hover {
  cursor: pointer;
}
.arrow-container:hover .arrow {
  top: 50%;
}
.arrow-container:hover .arrow:before {
  transform: translate(-50%, -50%) rotateZ(-30deg);
}
.arrow-container:hover .arrow:after {
  transform: translate(-50%, -50%) rotateZ(30deg);
}

.arrow {
  position: absolute;
  left: 50%;
  transition: all .4s ease;
}
.arrow:before, .arrow:after {
  transition: all .4s ease;
  content: '';
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: #fff;
  width: 4px;
  height: 50px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.arrow:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.arrow:nth-child(1) {
  opacity: 0.3;
  top: 35%;
}
.arrow:nth-child(2) {
  opacity: 0.6;
  top: 55%;
}
.arrow:nth-child(3) {
  opacity: 0.9;
  top: 75%;
}
